{% extends "base.html"%}

{% block titulo %} Lista de Materias {% endblock  %}

{% block contenido %}  

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar nueva materia</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">MATERIAS ASIGNADAS</h4>
        
        
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Estudiante</th>
                    <th>Profesor</th>
                    <th>Materia</th>
                    <th>Acciones</th>                   
                </tr>
            </thead>
            <tbody>

                {% for mate in materia%}
                <tr>
                    <th>{{ mate.id }}</th>
                    <td>{{ mate.nombre }}</td>
                    <td>{{ mate.profesor }}</td>
                    <td>{{ mate.materia }}</td>
                    <td>  <a name="" id="" class="btn btn-info" href="{%  url 'editar' mate.id %}" role="button">Editar</a> |  
                        <a name="" id="" class="btn btn-danger" href="{%  url 'eliminar' mate.id %}" role="button">Borrar</a> </td>
                </tr>     
                {% endfor %}           
            </tbody>
        </table>
        
        

    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock  %}